canvas {
    display: block;
    margin: 0 auto 0 auto;
}

#start-screen > img {
    width: 1400px;
    height: 500px;
    display: block;
    margin: 0 auto 0 auto;
}

#start-screen > button {
    width: 150px;
    height: 50px;
    font-size: 24px;
    border-radius: 12px;
    background-color: lightgreen;
    position: absolute;
    top: 250px;
    left: 650px;
    display: block;
    margin: 0 auto 0 auto;
}

#game-over-screen {
    position: absolute;
    top: 180px;
    left: 625px;
    background-color: lightblue;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    text-align: center;
}

#game-over-screen > button {
    background-color: lightgreen;
    border-radius: 12px;
    font-size: 24px;
    justify-content: center;
}